<md-toolbar class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button hide-gt-sm" md-ripple-size="full" aria-label="Settings" ng-click="toggleMenu()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h2>
          <span> DashBoard SL </span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon class="material-icons">favorite</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon class="material-icons">more_vert</md-icon>
        </md-button>
    </div>
</md-toolbar>